@import "@fontsource/ibm-plex-mono/400.css";
@import "@fontsource/ibm-plex-mono/600.css";
@import "@fontsource/ibm-plex-sans/400.css";
@import "@fontsource/ibm-plex-sans/600.css";
@import "@fontsource/source-serif-4/400.css";
@import "@fontsource/source-serif-4/600.css";
@import "@fontsource/fraunces/600.css";
